.user-info {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-button {
  background-color: white;
  color: black;
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  border: none;
}

.dropdown-content button:hover {
  text-decoration: underline;
  background-color: beige;
}

.signout {
  border: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #edb705;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  float: right;
}

.dropdown:hover .dropdown-content {
  display: block;
}
