.authentication {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
  padding: 2.5rem;
}

.authentication p {
  font-size: 14px;
  font-weight: 500;
}

.authentication button {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 12px;
  font-weight: 500;
  background-color: #edb705;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.authentication button:hover {
  background-color: #edb705;
}
