.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  align-self: stretch;
}

.header h1 {
  /* Non-accessible color */
  color: #edc84b;

  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.superheros {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.superhero {
  display: flex;
  gap: 3.2rem;
}

.superhero img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
}

.superhero div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem 0;
}

.superhero h3 {
  font-size: 2rem;
  font-weight: 400;
}

.superhero p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.superhero span {
  display: block;
  font-size: 1.6rem;
}

.search button {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.search button:hover {
  background-color: #e9bb24;
}
