.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  align-self: stretch;
}

.header h1 {
  /* Non-accessible color */
  color: #edc84b;

  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.superheros {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.superhero {
  display: flex;
  gap: 3.2rem;
}

.superhero img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
}

.superhero .superhero-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem 0;
  /* align-items: center; */
  align-content: center;
}

.superhero h3 {
  font-size: 2rem;
  font-weight: 400;
}

.superhero p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.powerstats {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.powerstats div {
  display: flex;
  align-items: center;
}

.powerstats label {
  width: 60px;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.powerstats span {
  width: 50px;
  text-align: center;
}

.powerstats input {
  width: 50px;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 2.8em;
}

.disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #424141;
  cursor: not-allowed;
  border-radius: 5%;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.enabled {
  color: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0%;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
