.my-heroes {
  position: absolute;
  top: 24px;
  right: 24px;
}

.my-heroes button {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 12px;
  font-weight: 500;
  background-color: #edb705;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
